body{
    font: 300 16px/1.625 'Rubik', sans-serif;
}

p,ul,ol{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    margin: 0;
}

a{
    margin: 0;
    padding: 0;
    color: #009688;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #35b9ac;
}


.logo{
    padding: 26px 15px 21px;
    background-color: #f5f8fb;
}

.wrapper{
    max-width: 1281px;
    margin: 0 auto;
}

.logo__container{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    text-decoration: none;
    display: block;
    width: 109px;
    margin: auto 0;
    padding-left: 2px;
}

.header__logo__image{
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.contact-info{
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 40px;
}

.contact-info::before{
    position: absolute;
    content: '';
    background-image: url(../images/phone.png);
    width: 20px;
    height: 20px;
    top: 4px;
    left: -35px;
}

.contact-info__item{
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info__content{
    text-decoration: none;
    color: #282b2f;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 8px;
}

.contact-info__content:last-child{
    margin: 0;
}

.contact-info__content:hover{
    text-decoration: underline;
}

.nav{
    box-sizing: border-box;
    padding: 0 15px;
    border-top: 1px solid #e0e9f0;
    border-bottom: 1px solid #e0e9f0;;
}

.nav__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    justify-self:baseline;
    width: 100%;
}

.nav__item{
    display: inline-block;
}

.nav__link{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #282b2f;
    line-height: 2.8;
    position: relative;
    background-image: linear-gradient(
        to right,
        #009688,
        #009688 50%,
        #282b2f 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav__link:before{
    content: '';
    background: #009688;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover{
    background-position: 0;
}

.nav__link:hover::before{
    width: 100%;
}

.main{
    padding: 15px 15px 0;
    box-sizing: border-box;
}

.breadcrumbs__list{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.breadcrumbs__item{
    margin-right: 10px;
    color: #78909c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}

.breadcrumbs__item::after{
    content: '>';
    color: #282b2f;
    margin-left: 10px;
}

.breadcrumbs__item:last-child::after{
    content: '';
}

.breadcrumbs__link{
    text-decoration: none;
    color: #282b2f;
    font-weight: 300;
    font-size: 13px;
}

.breadcrumbs__current{
    display: inline-block;
}

.main__content{
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

.content{
    max-width: 845px;
}

.content__container-1{
    margin-bottom: 85px;
}

.content__container-2{
    margin-bottom: 79px;
}

.content__container-last{
    margin-bottom: 40px;
}

.content__h1{
    color: #282b2f;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}

.content__text{
    color: #465a64;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
    margin-bottom: 26px;
}

.content__img{
    padding-top: 10px;
    margin-bottom: 25px;
}

.content__h3{
    color: #282b2f;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.36;
    margin-bottom: 27px;
}

.content__list{
    margin-top: -2px;
}

.list__title{
    color: #546e7a;
    font-size: 20px;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}

.list{
    padding-left: 24px;
    list-style-type: none;
    margin-bottom: 17px;
    letter-spacing: -0.2px;
}

.list__item{
    position: relative;
    margin-bottom: 13px;
}

.list__item::before{
    content: '';
    background-image: url(../images/list-rectangle.png);
    position: absolute;
    width: 12px;
    height: 2px;
    top: 13px;
    left: -25px;
}

.list__link{
    color: #1976d2;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.75;
    transition: all .3s ease-in-out;
}

.list__link:hover{
    color: #6ca0d3;
}

.content__h4{
    color: #282b2f;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.72;
    margin-bottom: 26px;
}

.content__images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    padding-top: 11px;
}

.last{
    margin-bottom: 23px;
}

.nlist{
    padding-left: 14px;
}

.nlist__item{
    margin-bottom: 13px;
}

.nlist__item::after{
    content: ';';
}

.nlist__item:last-child::after{
    content: '.';
}

.sidebar{
    max-width: 380px;
    position: relative;
}

.sidebar__search{
    box-sizing: border-box;
    border: 2px solid #e0e9f0;
    border-radius: 5px;
    height: 52px;
    padding: 0 25px 0 15px;
    margin: 8px 0 45px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.search__txt{
    box-sizing: border-box;
    border: none;
    width: 304px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 0;
    margin-right: 12px;
    background-color: transparent;
}

.search__txt::placeholder{
    color: #bdc6ca;
    background-color: transparent;
}

.search__button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__h2{
    color: #282b2f;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
}

.sidebar__posts{
    margin: 34px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.posts__post{
    border-bottom: 1px solid #e0e9f0;
    margin-bottom: 30px;
}

.posts__post:last-child{
    border: none;
    margin: 0;
}

.posts__post:last-child .post__link{
    margin: 0;
}

.post__image{
    min-width: 380px;
    margin-bottom: 18px;
}

.post__title{
    color: #282b2f;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 7px;
}

.post__date{
    color: #bdc6ca;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;
    margin-left: 2px;
}

.post__text{
    color: #465a64;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
    margin-top: 10px;
    margin-bottom: 24px;
}

.post__link{
    margin-bottom: 25px;
}

.btn__all{
    border-radius: 5px;
    border: 2px solid #009688;
    background-color: #ffffff;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 51px;
    color: #009688;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    transition:all ease-in-out 0.3s;
}

.btn__all:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #35b9ac;
    border: 2px solid #35b9ac;
}

.all__image{
    padding-right: 4px;
}

.sidebar__contact{
    padding-top: 64px;
}

.contact__title{
    color: #282b2f;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.6;
}

.contact__subtitle{
    margin-bottom: 29px;
}

.contact__field{
    box-sizing: border-box;
    height: 52px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid #e0e9f0;
    background-color: #ffffff;
    padding: 2px 17px 0;
    margin-bottom: 16px;
    outline: none;
    overflow: hidden;
}

.contact__field::placeholder{
    color: #bdc6ca;
}

.txt{
    height: 140px;
    padding-top: 17px;
    overflow-y:initial;
    resize: none;
    display: block;
    margin-bottom: 40px;
}

.contact__btn{
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 52px;
    border-radius: 5px;
    background-color: #009688;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
}

.contact__btn:hover{
    background-image: linear-gradient(
        to right, red, orange, yellow,green, blue, indigo, violet, red);
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:15vw;
    }
}

.img{
    border-radius: 5px;
}